.center_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-deck{
  justify-content: center;
}

.cardImage {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}

/* Medium devices (tablets, 1199px and up) */
@media (max-width: 1199px) {
  .cardImage {
    height: auto;
    max-height: 215px;
    width: 180px;

  }

  .center_card{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col_width{
    min-width: 225px;
    max-width: 250px;
  }  
}

.card{
  height: auto;
  min-height: 300px;
  max-height: 300px;
  width: auto;
  min-width: 225px;
  max-width: 250px; 
}