.outterMainDiv {
    background-color: #1b723f;
}

.innerMainDiv {
    margin: 0 auto;
    width: 1000px;
    background-color: #1b723f;
}

.getInTouch {
    background-color: rgb(255, 255, 255);
    color: #494d83;
    font-size: 55px;
    font-weight: 100;
    width: 350px;
    border: 3px solid #494d83!important;
}

.contact_info_div {
    background-color: #494d83;
    width: 100%!important;

}

.contact_attributes {
    font-size: 20px;
}

.submit_color {
    background-color: #494d83;
    border: solid 1px white!important;
    font-size: 20px;
}

.submit_color:hover {
    background-color: white;
    border: solid 1px #494d83!important;
    color:#494d83!important;
}

